



body { color: #ffffff; font-family: Verdana; padding: 16px; line-height: 1.7em; background-color: black;}

p {margin-bottom:2.5em;}




@media screen and (min-width: 480px) {
	h1 {
		font-size: 26px; line-height: 1.7em; 
	}

    p {
        font-size: 16px; line-height: 1.7em; 
    }

    a { font-size: 16px; line-height: 1.7em; color: #00bbff;background-color: transparent;text-decoration: underline;}


}

@media screen and (min-width: 481px) and (max-width: 600px) {
	h1 {
		font-size: 30px; line-height: 1.7em; 
	}

    p {
        font-size: 20px; line-height: 1.7em; 
    }

    a { font-size: 20px; line-height: 1.7em; color: #00bbff;background-color: transparent;text-decoration: underline;}


}

@media screen and (min-width: 601px) {
	h1 {
		font-size: 36px; line-height: 1.7em; 
	}

    p 
    {
        font-size: 24px; line-height: 1.7em; 
    }

    a { font-size: 24px; line-height: 1.7em; color: #00bbff;background-color: transparent;text-decoration: underline;}


}

